*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: serif,sans-serif;
  
    background-color: rgb(24, 56, 49);
    color: white;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 40px;
    background-color: transparent;
}
.navbar>h2{
    margin-left: 100px;
    font-size:40px;
    font-weight: 700;
    font-family: fantasy ;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav-item{
    margin-right: 100px;
   
}
.nav-item a{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
}
.nav-item a:hover{
   color: cornflowerblue;
}
.banner-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner{
    display:flex;
   align-items: center;
    justify-content: center;
    height: 700px; 
  background-color: a;
   width:  100%;
   
}
.banner-left{
    width:50%;
    padding-left: 5rem;
   
}
.banner-left>h1{
 font-size: 50px;

}
.banner-left>h3{
 font-size:30px;
 font-weight: 700;
 color: rgb(57, 216, 208);
}
.banner-left>p{
 font-size:20px;
 font-weight: 600;
}
.banner-left h1,p{
    margin-top:30px;
}

.banner-right{
    height: 700px;
    width: 50%;
    background:url(jahid.png) ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 550px;
   
}
.mypng{
    max-height: 500px;
}

.btn-box{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.btn-box>a{
    text-decoration: none;
    color: rgb(1, 1, 1);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(57, 216, 208);
    font-size: 20px;
    font-weight: 600;
}
.footer-box{
   
    background-color: rgba(0, 0, 0, 0.434);
    height: 250px;
}
.footer-icon{
    height: 150px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
    text-decoration: none;
  
}
.footer-icon>a:hover{
    filter: drop-shadow(-2px -1px 15px rgba(89, 212, 231, 0.738));
  color: blue;
}
.footer-icon>a{
    text-decoration: none;
    color: aliceblue;
}
.footer-end{
    text-align: center;
   
    height: 50px;
    margin-top: 0;
}
.footer-end>p{
    font-size: 20px;
    font-weight: 400;

}
.my-name{
    opacity: 70%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
}
/* background animation */
.bg-img{
    background: url(Untitled-1.png);
   background-size: cover; 
}

#cursor{
    position: fixed;
    height: 200px;
    width: 200px;
    background: linear-gradient(rgb(227, 14, 135),rgb(248, 242, 59),rgb(255, 109, 41) ,rgb(82, 239, 245));
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(22, 248, 172);
    display: none;
    transform: translate(-50%, -50%);
    z-index:-1;
    opacity: 50%;
    
}
/* background animation */
/* about start */
.about-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   width: 90%;
    background-color: rgba(24, 50, 63, 0.225);
    height: 700px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px black;
}
.about-me>h1{
    
    font-size: 40px;
    font-weight: 700;
    font-family:  Verdana, sans-serif;
    
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 84%;
    background-color: rgba(19, 61, 40, 0.181);
    height: 550px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px black;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.277),
    inset 5px 5px 10px  rgba(5, 5, 5, 0.3),
    inset 5px 5px 20px  rgba(25, 101, 76, 0.2),
    inset -5px -5px 15px rgba(23, 50, 42, 0.497);
}
.about-content>p{
    font-size: 20px;
    font-weight: 450;
    
    text-align: center;
    
    
}
.about-content>h3{
    margin-top: 100px;
    font-size: 25px;
    font-weight: 600;
  

}
/* about end */
/* contact start */
.contact-me{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact-me >h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    padding-top: 20px;
}
.contact-me>p{
    text-align: center;
    font-size: 17px;
}
.contact-content{
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: rgba(226, 229, 227, 0);
    height: 550px;
    padding: 40px 50px;
   gap: 25px;
    border-radius: 20px;
}
.left-section{
    width: 50%;
    
 

}
.left-section>a{
 
  font-size: 50px;
  text-decoration: none;
   margin-top: 40px;
   color: aliceblue;
}
.left-section>a:hover{
    filter: drop-shadow(-2px -1px 10px rgba(49, 183, 183, 0.582));
  color: rgb(46, 46, 244);
  transition: 0.3s;
}
.logo{
font-size: 20px;
position: absolute;
margin-left: 10px;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;

}
.right-section{
width: 50%;
background-color: rgba(24, 50, 63, 0.225);
border-radius: 10px;
padding-top: 20px;
padding-left: 20px;
box-shadow: -1px -1px 5px rgba(9, 9, 9, 0.574);
}
.right-section:hover{
width: 50%;
background-color: rgba(24, 50, 63, 0.225);
border-radius: 10px;
padding-top: 20px;
padding-left: 20px;
box-shadow: -2px -1px 30px rgba(9, 9, 9, 0.574);
transition: 0.5s;
}
.right-section>h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.right-section>input{
    height: 40px;
    
}
.right-section>input,textarea{
    display: flex;
    flex-direction: row;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(19, 61, 40, 0.181);
}
.right-section>a{
    text-decoration: none;
    color: rgb(1, 1, 1);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(57, 216, 208);
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
/* contact end */
/* service start */
.service-box{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.services>h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    padding-top: 20px;
}
.services>p{
    margin: 30px auto;
    text-align: center;
    font-size: 17px;
    max-width: 900px;
}
/* service end */

/* Responsive start */
@media only screen and (max-width:850px){
    .left-section, .right-section{
        width: 100%;
    }
    .contact-content{
        padding: 40px 0;
    }
    .footer-box {
        background-color: rgba(0, 0, 0, 0.434);
        height: 700px;
    }
    .navbar>h2 {
        margin-left: 52px;
    }
    .nav-item {
        margin-right: 50px;
    }
}
@media only screen and (max-width:600px){
    .contact-content{
        flex-direction: column;
        padding: 0;
        height: 850px;
        
    }
    .left-section, .right-section{
        width: 100%;
    }
    .right-section{
        height: 490px;

    }
    .about-content{
        width: 100%;
    }
    .about-content>h3{
        font-size: 20px;
        margin-top: 55px;
    }
    .about-content>p{
        font-size: 18px;
    }
    .footer-box {
        background-color: rgba(0, 0, 0, 0.434);
        height: 445px;
    }
}
